<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mamamsehat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".layanan"
            android:label="@string/title_activity_layanan"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".OrderActivity"
            android:label="@string/title_activity_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ContactUs" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tentangkami"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:screenOrientation="portrait" />
        <activity
            android:name="activities.UsersListActivity"
            android:screenOrientation="portrait" />
    </intent-filter>
</activity>
<activity android:name=".Artikel"
android:label="Artikel"/>
<activity android:name=".ContactUs"
android:label="Contact Us"/>
<activity android:name=".Kalkulasi"
android:label="Kalkulasi"></activity>
<activity android:name=".Menu"
android:label="Menu"></activity>
    </application>


</manifest>